.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea
libraries
*.swp
target
.DS_Store
.classpath
.project
.settings
atlassian-ide-plugin.xml
data/
mobius-deployments/mobius-deployments-medsync/fig/**/*.jar
mobius-deployments/mobius-deployments-medsync/fig/cqlsh/cqlfiles/*.cql
mobius-deployments/mobius-deployments-medsync/docker/**/*.jar
java-exercises/out/
