.pill-image{
    height: 50px;
    vertical-align: text-top;
}
.app-title-banner {
    text-align:center;
    background-color: rgb(241, 123, 129);
    margin: 0%;
    padding:20px;
}

.patient-info {
    text-align: center;
    background-color:lightgray;
    padding-top:30px;
}

.patient-metadata {
    font-style: italic;
    padding-top:10px;
    padding-bottom:5px;
    font-size: .85em;
}
.app-name {
    font-size:1.3em;
    height: 65px;
    line-height: 65px;
    vertical-align: top;
    padding: 20px; 
}