<div class="palindromeDisplay">
	<h3>Palindrome Check</h3>
	<i>"{{phrase}}"</i><br/>
	{{#if result}}
		<b class="positive">IS</b> a palindrome!
	{{else}}
		<b class="negative">IS NOT</b> a palindrome!
	{{/if}}
</div>