<div class="Patient-Header">
  <h1>
    John Smith
  </h1>
  <span class="dob">DOB : 01/02/1970</span>
  <span class="policy">Policy : Healthcare Inc.</span>
  <span class="state">State : Ohio</span>
</div>