.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 60px;
}

.App-header {
  background-color: dodgerblue;
  height: 75px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  height: 75px;
  line-height: 75px;
  vertical-align: top;
  padding:20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
